@media screen and (max-width: 360px) {
    .close {
        display: block;
        width: 100px;
        margin-bottom: 20px;
        padding:0 10px;
    }

    .show-icon {
        display: inline !important;
        position: fixed;
        top: 30px;
        left: 21px;
    }

    .navigation {
        height: 100vh;
        display: block;
        padding:30px 10px;
        transform: translateX(-100%);
    }

    .nav-container {
        /* margin-top: 25px; */
        flex-direction: column;
    }

    .nav-item {
        margin-top:20px
    }

}
